:root {
  --blue: #0A7B83;
  --green: #2AA876;
  --yellow: #FFD265;
  --orange: #F19C65;
  --red: #CE4D45;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

form {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-areas: "category subcategory date amount add";
  padding: 15px 20px 20px;
  background-color: var(--blue);
  color: white;
}

form div {
  height: 100%;
  width: 100%;
}

form p {
  margin-bottom: 5px;
}

#amount-div p {
  margin-left: 14px;
}

.hidden {
  display: none;
}

select, input {
  display: inline-block;
  width: 75%;
  height: 32px;
  border: 2px solid rgb(220, 220, 220);
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

i {
  cursor: pointer;
}

#category-div {
  grid-area: category;
}

#subcategory-div {
  grid-area: subcategory;
}

#date-div {
  grid-area: date;
}

#amount-div {
  grid-area: amount;
}

#dollar-sign {
  display: inline-block;
  margin-right: 3px;
}

#addExpense {
  display: block;
  align-self: end;
  grid-area: add;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  font-size: 12px;
  background-color: white;
  height: 55px;
  transition: all 0.2s ease;
}

#addExpense:hover {
  background-color: var(--yellow);
  border-radius: 50px;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}

/* CHART */

#expense-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "graph expenses";
  margin-top: 10px;
  padding-top: 10px;
}

h1 {
  position: fixed;
  top: 180px;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  width: 50%;
  height: auto;
}

#graph {
  grid-area: graph;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  transform: translate(0, -25%);
  width: 50%;
}

.c3-chart-arc text {
  font-size: 16px;
  text-shadow: 0 0 9px black;
}

.c3-legend-item text {
  font-size: 16px;
}

/* EXPENSES */

#expenses {
  grid-area: expenses;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#order-and-reset {
  display: none;
  flex-wrap: nowrap;
  justify-content: center;
}

#newest, #oldest, #reset, .delete {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  font-size: 12px;
  height: 30px;
  width: 70px;
  transition: all 0.2s ease;
}

#oldest {
  margin: 0 10px 10px;
}

#newest:hover, #oldest:hover, #reset:hover, .delete:hover {
  box-shadow: 0 0 5px black;
  border-radius: 25px;
  cursor: pointer;
}

#newest:hover, #oldest:hover {
  background-color: var(--yellow);
}

#reset:hover {
  color: white;
  background-color: var(--red);
}

#order-and-reset .current-order {
  background-color: var(--yellow);
  border-radius: 25px;
  cursor: pointer;
}

.expenseItem {
  margin: 10px;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  transition: all 0.2s ease;
}

.expenseItem:hover {
  box-shadow: 0 0 15px black;
}

.date-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "cat sub";
  padding: 15px 0;
  margin: 0;
  border-radius: 10px 10px 0 0;
  color: white;
  text-shadow: 0 0 9px black;
}

.date-header span:first-child {
  display: block;
  text-align: center;
  padding-left: 30px;
  grid-area: cat;
  font-weight: 900;
}

.date-header span:first-child:hover {
  cursor: pointer;
}

.date-header span:last-child {
  display: block;
  text-align: center;
  padding-right: 30px;
  grid-area: sub;
  font-weight: 100;
  letter-spacing: 2px;
}

.date-header span:last-child:hover {
  cursor: pointer;
}

.header-edit {
  padding: 10px 0;
}

.cat-sub-select {
  width: 85%;
  height: 28px;
  margin: 0 auto;
}

.card-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "expense date";
  align-items: center;
  padding: 15px;
}

.card-info p:first-child {
  grid-area: expense;
  font-size: 32px;
  text-align: right;
  padding: 15px;
  font-weight: 400;
  border-radius: 5px;
}

.card-info p:first-child:hover {
  cursor: pointer;
  font-style: italic;
}

.card-info p:first-child:focus {
  font-style: normal;
}

.expenseItem .card-info p.edit-mode {
  background-color: rgb(204, 204, 204);
  cursor: text;
}

.card-info p:last-child {
  grid-area: date;
  padding-left: 15px;
}

.delete {
  display: block;
  margin: 0 auto 30px;
}

.delete:hover {
  color: white;
  background-color: var(--red);
}

.update {
  display: block;
  margin: 0 auto 30px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 12px;
  height: 30px;
  width: 70px;
  transition: all 0.2s ease;
  background-color: var(--green);
  color: white;
}

.update:hover {
  box-shadow: 0 0 5px black;
  border-radius: 25px;
  cursor: pointer;
}